<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="SYS_LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="log/system.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-20c{1} - %m%n" />
		</layout>
	</appender>
	
	<appender name="APP_LOG" class="jp.biz.prominent.logging.TimestampFileAppender">
		<!-- INFO用アプリケーションログ -->
		<param name="Threshold" value="INFO" />
		<param name="File" value="log/application_#yyyyMMdd_HHmmss#.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-12c{1} - %m%n" />
		</layout>
	</appender>
	<appender name="APP_ERR_LOG" class="org.apache.log4j.RollingFileAppender">
		<!-- ERROR用アプリケーションログ -->
		<param name="Threshold" value="ERROR" />
		<param name="File" value="log/system.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-20c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="ACCESS_LOG" class="jp.biz.prominent.logging.TimestampFileAppender">
		<param name="File" value="log/access_#yyyyMMdd_HHmmss#.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-12c{1} - %m%n" />
		</layout>
	</appender>

	<!-- GUI周りとメインクラスはアプリケーションログ -->
	<logger name="jp.biz.prominent.app.gui">
		<level value="info" />
		<appender-ref ref="APP_LOG" />
		<appender-ref ref="APP_ERR_LOG" />
	</logger>
	<logger name="jp.biz.prominent.app.main">
		<level value="info" />
		<appender-ref ref="APP_LOG" />
		<appender-ref ref="APP_ERR_LOG" />
	</logger>
	
	<!-- twitter4jのログはシステムログ -->
	<logger name="twitter4j">
		<level value="info" />
		<appender-ref ref="SYS_LOG" />
	</logger>
	<!-- 共通処理パッケージ配下はシステムログ -->
	<logger name="jp.biz.prominent.app.com">
		<level value="info" />
		<appender-ref ref="SYS_LOG" />
	</logger>
	
	<!-- 更新系のログはアクセスログ（手動指定） -->
	<logger name="access">
		<level value="info" />
		<appender-ref ref="ACCESS_LOG" />
	</logger>
	
    <category name="org.apache.ibatis">
        <priority value="trace" />
        <appender-ref ref="SYS_LOG"/>
    </category>
    <category name="java.sql">
        <priority value="trace" />
        <appender-ref ref="SYS_LOG"/>
    </category>
</log4j:configuration>
