<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.biz.prominent.app.com.mapper.VersionUpMapper">
 
	<!-- 旧ユーザー情報テーブルのカウント取得 -->
	<select id="countOldUserTable" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			sqlite_master
		WHERE	type ='table'
			AND	name ='userinfo';
	</select>
	
	<!-- 旧フォローワー情報テーブルのカウント取得 -->
	<select id="countOldFollowerTable" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			sqlite_master
		WHERE	type ='table'
			AND	name ='followuser';
	</select>
	
	<!-- 旧ツイート情報テーブルのカウント取得 -->
	<select id="countOldTweetTable" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			sqlite_master
		WHERE	type ='table'
			AND	name ='tweettext';
	</select>
	
	<!--  ユーザー情報テーブルのマージ -->
	<insert id="mergeUserTable">
		INSERT INTO user (
			uid,
			name,
			image_url,
			consumer_key,
			consumer_secret,
			access_token,
			access_token_secret,
			keyword1,
			keyword2,
			keyword3,
			distance,
			longitude,
			latitude,
			search_type,
			follow,
			refollow,
			duplicate,
			threshold_no_follow,
			threshold_no_tweet,
			daily_follow_max,
			follow_date,
			follow_count,
			interval,
			range
		)
		SELECT
			id,
			name,
			imgurl,
			conkey,
			consec,
			acctoken,
			acctokensec,
			key1,
			key2,
			key3,
			scope,
			longitude,
			latitude,
			searchtype,
			follow,
			refollow,
			duplicate,
			deldays,
			delweeks,
			followmax,
			followdate,
			followcnt,
			time1,
			time2
		FROM
			userinfo
	</insert>
	
	<!--  フォローワー情報テーブルのマージ -->
	<insert id="mergeFollowerTable">
		INSERT INTO follower(
			uid,
			fid,
			unfollow,
			status,
			name,
			image_url,
			follow_time
		)
		SELECT
			uid,
			id,
			unfollow,
			status,
			name,
			imgurl,
			followtime
		FROM
			followuser
	</insert>
	
	<!-- ツイート情報テーブルのマージ -->
	<insert id="mergeTweetTable">
		INSERT INTO tweet(
			uid,
			tid,
			selected,
			created_time,
			template
		)
		SELECT
			uid,
			id,
			objflg,
			createdtm,
			template
		FROM
			tweettext
	</insert>
 
	<!-- 旧ユーザー情報テーブルの削除 -->
	<update id="dropOldUserTable">
		DROP TABLE userinfo
	</update>
	
	<!-- 旧フォローワー情報テーブルの削除 -->
	<update id="dropOldFollowerTable">
		DROP TABLE followuser
	</update>
	
	<!-- 旧ツイート情報テーブルの削除 -->
	<update id="dropOldTweetTable">
		DROP TABLE tweettext
	</update>
</mapper>